#root > div {
  height: 100vh;
  margin: 0;
  box-sizing: border-box;
  background-color: #262626;
}

@font-face {
  font-family: quicksand;
  src: url(../public/fonts/quicksand/Quicksand_Book.otf);
}

@font-face {
  font-family: quicksand-bold;
  src: url(../public/fonts/quicksand/Quicksand_Bold.otf);
}

@font-face {
  font-family: josefinSans;
  src: url(../public/fonts/Josefin_Sans/static/JosefinSans-Regular.ttf);
}

@font-face {
  font-family: josefinSans-bold;
  src: url(../public/fonts/Josefin_Sans/static/JosefinSans-Bold.ttf);
}

.header {
  padding: 4rem;
  text-align: center;
  font-size: 8vw;
  font-family: josefinSans-bold, sans-serif;
  /* font-weight: bolder; */
  color: #e5e5e5;
  /* text-shadow: -2px -2px 0 #171717, 2px -2px 0 #171717, -2px 2px 0 #171717,
    2px 2px 0 #171717; */
}

.text {
  font-family: josefinSans;
}
