/* Color pallette */

.unused-dark {
  background-color: #2e2a2c; /* Background color */
  background-color: #2b2e2a; /* Componenet background color */
  background-color: #201d1f; /* Font outline color */
  background-color: #fff9fc; /* Text color */
  background-color: #757575; /* Text focused color */
  background-color: #1e201d; /* Component outline color*/
}

.unused-light {
  background-color: #fff9fc; /* Background color */
  background-color: #dad8d7; /* Comonenet background color */
  background-color: #c2c0bf; /* Font outline color */
  background-color: #2b2e2a; /* Text color */
  background-color: #757575; /* Text focused color */
  background-color: #1e201d; /* Component outline color*/
}

/* Root element */

#root > div {
  height: 100vh;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Fonts */

@font-face {
  font-family: quicksand;
  src: url(../public/fonts/quicksand/Quicksand_Book.otf);
}

@font-face {
  font-family: quicksand-bold;
  src: url(../public/fonts/quicksand/Quicksand_Bold.otf);
}

@font-face {
  font-family: josefinSans-light;
  src: url(../public/fonts/Josefin_Sans/static/JosefinSans-Light.ttf);
}

@font-face {
  font-family: josefinSans;
  src: url(../public/fonts/Josefin_Sans/static/JosefinSans-Regular.ttf);
}

@font-face {
  font-family: josefinSans-bold;
  src: url(../public/fonts/Josefin_Sans/static/JosefinSans-Bold.ttf);
}

.disabled {
  background-image: linear-gradient(rgb(0 0 0/40%) 0 0);
}

.hover-dim:hover {
  background-image: linear-gradient(rgb(0 0 0/40%) 0 0);
}

.hover-trans:hover {
  background-color: rgba(0, 0, 0, 0);
}

/* Dark mode settings */

.background-dark {
  background: #2e2a2c;
}

.component-background-dark {
  background: #2b2e2a;
}

.component-outline-dark {
  border: 2px solid #1e201d;
}

.component-outline-bottom-dark {
  border-bottom: 2px solid #1e201d;
}

.component-outline-thin-dark {
  border: 1px solid #1e201d;
}

.component-rounded-outline-thin-dark {
  border: 1px solid #1e201d;
  border-radius: 8px;
}

.component-outline-background-dark {
  background: #1e201d;
}

.title-font-dark {
  font-family: josefinSans-bold, sans-serif;
  text-shadow: -1px -1px 0 #201d1f, 1px -1px 0 #201d1f, -1px 1px 0 #201d1f,
    1px 1px 0 #201d1f;
  color: #fff9fc;
}

.font-dark {
  font-family: josefinSans-bold, sans-serif;
  text-shadow: -1px -1px 0 #201d1f, 1px -1px 0 #201d1f, -1px 1px 0 #201d1f,
    1px 1px 0 #201d1f;
  color: #fff9fc;
}

.font-dark-no-outline {
  font-family: josefinSans, sans-serif;
  color: #fff9fc;
}

.icon-dark {
  font-family: josefinSans-bold, sans-serif;
  text-shadow: -1px -1px 0 #201d1f, 1px -1px 0 #201d1f, -1px 1px 0 #201d1f,
    1px 1px 0 #201d1f;
  color: #fff9fc;
}

.searchbar-font-dark {
  font-family: josefinSans-bold, sans-serif;
  text-shadow: -1px -1px 0 #201d1f, 1px -1px 0 #201d1f, -1px 1px 0 #201d1f,
    1px 1px 0 #201d1f;
  color: #757575;
}

.searchbar-font-dark:focus {
  color: #fff9fc;
}

.option-font-dark {
  font-family: josefinSans-bold, sans-serif;
  text-shadow: -1px -1px 0 #201d1f, 1px -1px 0 #201d1f, -1px 1px 0 #201d1f,
    1px 1px 0 #201d1f;
  color: #757575;
}

.option-font-dark-active {
  color: #fff9fc;
  text-decoration: underline;
}

.footer-icon-dark {
  color: #dad8d7;
}

/* Light mode settings */

.background-light {
  background: #f3f1ef;
}

.component-background-light {
  background: #dad8d7;
}

.component-outline-light {
  border: 2px solid #1e201d;
}

.component-outline-bottom-light {
  border-bottom: 2px solid #1e201d;
}

.component-outline-thin-light {
  border: 1px solid #1e201d;
}

.component-rounded-outline-thin-light {
  border: 1px solid #1e201d;
  border-radius: 8px;
}

.component-outline-background-light {
  background: #1e201d;
}

.title-font-light {
  font-family: josefinSans-bold, sans-serif;
  text-shadow: -1px -1px 0 #201d1f, 1px -1px 0 #201d1f, -1px 1px 0 #201d1f,
    1px 1px 0 #201d1f;
  color: #fff9fc;
}

.font-light {
  font-family: josefinSans-bold, sans-serif;
  color: #2b2e2a;
}

.icon-light {
  font-family: josefinSans-bold, sans-serif;
  color: #fff9fc;
}

.searchbar-font-light {
  font-family: josefinSans-bold, sans-serif;
  color: #757575;
}

.searchbar-font-light:focus {
  color: #2b2e2a;
}

.option-font-light {
  font-family: josefinSans-bold, sans-serif;
  color: #757575;
}

.option-font-light-active {
  color: #2b2e2a;
  text-decoration: underline;
}

.footer-icon-light {
  color: #2b2e2a;
}

/* Common settings */

.clean-text {
  text-decoration: none;
}

.clean-border {
  border: none;
}

hr {
  display: block;
  height: 1px;
  width: 100%;
  border: 0;
  border-top: 2px solid #65d9ff;
  margin: 1em 0;
}

/* Loading components */

.loading-ball-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

/* Home page layout */

.homeview-container {
  min-height: 100vh;
  min-width: 100vw;
  display: grid;
  place-items: center;
  grid-template-rows: auto auto auto auto 1fr auto; /* Title, Search, Types, Sort, Poké Table, footer */
  gap: 20px 0px;
}

.homeview-small {
  padding: 5% 2% 0 2%;
}

.homeview-med {
  padding: 5% 5% 0 5%;
}

.homeview-large {
  padding: 5% 10% 0 10%;
}

/* Home page header */

.header {
  text-align: center;
}

.header-small {
  padding: 1rem;
  font-size: 2.5rem;
}

.header-med {
  padding: 1rem;
  font-size: 4rem;
}

.header-large {
  padding: 1.5rem;
  font-size: 5rem;
}

.header-x-large {
  padding: 1.5rem;
  font-size: 7rem;
}

/* Home page sub-header */

.sub-header {
  padding: 2rem 0 1rem 0;
  text-align: center;
  font-size: 2rem;
}

/* Search bar */

.searchbar-container {
  display: flex;
  position: relative;
  width: 350px;
}

.searchbar-input {
  width: 100%;
  padding: 12px 20px;
  border-right: none;
  border-radius: 40px 0 0 40px;
  outline: none;
  font-size: 1rem;
}

.searchbar-search-icon {
  width: 55px;
  height: 100%;
  border-radius: 0 40px 40px 0;
  border: none;
  text-align: center;
  padding: 0 5px 0 0;
  font-size: 1rem;
}

.search-results {
  display: none;
  position: absolute;
  overflow: hidden;
  overflow-y: auto;
  height: auto;
  max-height: 250px;
  width: 273px;
  text-align: center;
  top: 100%;
  left: 50%;
  margin-left: -150px;
  border-radius: 5px;
  border-top: none;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  padding: 6px 0;
  z-index: 1;
}

.search-results-active {
  display: block;
}

.search-results-item {
  padding: 12px 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.search-results-label {
  position: sticky;
  text-align: start;
  top: -6px;
  padding: 4px 16px;
  z-index: 1;
}

.search-result-image {
  height: 42.5px;
  width: 42.5px;
  object-fit: contain;
  margin: 0 10px 0 0;
}

.search-result-type-image {
  height: 42.5px;
  width: 42.5px;
  object-fit: contain;
  padding: 0.5rem;
  margin: 0 10px 0 0;
}

.search-results-item-active {
  background-image: linear-gradient(rgb(0 0 0/15%) 0 0);
}

/* Types Table */

.types-table {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px 15px;
  padding: 20px 10px;
}

.type-item {
  display: flex;
  flex-wrap: nowrap;
  font-size: 0.75rem;
  text-decoration: none;
  padding: 0.5rem;
  border-radius: 8px;
}

.type-img {
  height: 20px;
  width: 20px;
  margin: 0 7px 0 0;
}

.type-text {
  padding: 3px 0 0 0;
}

/* Types dropdown */

.types-dropdown-container {
  display: flex;
  position: relative;
  width: 200px;
}

.types-dropdown-button {
  width: 100%;
  padding: 15px 0;
  outline: none;
  border-radius: 40px;
  text-align: center;
  font-size: 1rem;
}

.types-dropdown-content {
  display: none;
  position: absolute;
  overflow: hidden;
  overflow-y: auto;
  height: auto;
  max-height: 200px;
  border-radius: 5px;
  border-top: none;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  width: 160px;
  left: 50%;
  margin-left: -80px;
  padding: 6px 0;
  text-align: center;
  z-index: 1;
}

.types-dropdown-content-active {
  display: block;
}

.types-dropdown-item {
  padding: 12px;
  text-decoration: none;
  display: flex;
  justify-content: start;
  align-items: center;
}

.types-dropdown-img {
  height: 24px;
  width: 24px;
  object-fit: contain;
  margin: 0 16px 0 0;
}

/* 
const colours = {
	normal: '#A8A77A',
	fire: '#EE8130',
	water: '#6390F0',
	electric: '#F7D02C',
	grass: '#7AC74C',
	ice: '#96D9D6',
	fighting: '#C22E28',
	poison: '#A33EA1',
	ground: '#E2BF65',
	flying: '#A98FF3',
	psychic: '#F95587',
	bug: '#A6B91A',
	rock: '#B6A136',
	ghost: '#735797',
	dragon: '#6F35FC',
	dark: '#705746',
	steel: '#B7B7CE',
	fairy: '#D685AD',
};
 */

/* 
.bug : #92BC2C;
.dark : #595761;
.dragon : #0C69C8;
.electric : #F2D94E;
.fire : #FBA54C;
.fairy : #EE90E6;
.fighting : #D3425F;
.flying : #A1BBEC;
.ghost : #5F6DBC;
.grass : #5FBD58;
.ground : #DA7C4D;
.ice : #75D0C1;
.normal : #A0A29F;
.poison : #B763CF;
.psychic : #FA8581;
.rock : #C9BB8A;
.steel : #5695A3;
.water : #539DDF;
} */

.bug-type-light {
  filter: drop-shadow(0 0 10px #1e201d);
}

.bug-type-light path {
  fill: #92bc2c;
  filter: brightness(1.25);
}

.bug-type-dark {
  filter: drop-shadow(0 0 8px #a6b91a);
}

.bug-type-dark path {
  fill: #92bc2c;
  filter: brightness(1.25);
}

.dark-type-light {
  filter: drop-shadow(0 0 10px #1e201d);
}

.dark-type-light path {
  fill: #595761;
  filter: brightness(1.25);
}

.dark-type-dark {
  filter: drop-shadow(0 0 8px #595761);
}

.dark-type-dark path {
  fill: #595761;
  filter: brightness(1.25);
}

.dragon-type-light {
  filter: drop-shadow(0 0 10px #1e201d);
}

.dragon-type-light path {
  fill: #6f35fc;
  filter: brightness(1.25);
}

.dragon-type-dark {
  filter: drop-shadow(0 0 8px #6f35fc);
}

.dragon-type-dark path {
  fill: #6f35fc;
  filter: brightness(1.25);
}

.electric-type-light {
  filter: drop-shadow(0 0 10px #1e201d);
}

.electric-type-light path {
  fill: #f7d02c;
  filter: brightness(1.25);
}

.electric-type-dark {
  filter: drop-shadow(0 0 8px #f7d02c);
}

.electric-type-dark path {
  fill: #f7d02c;
  filter: brightness(1.25);
}

.fire-type-light {
  filter: drop-shadow(0 0 10px #1e201d);
}

.fire-type-light path {
  fill: #ee8130;
  filter: brightness(1.25);
}

.fire-type-dark {
  filter: drop-shadow(0 0 8px #ee8130);
}

.fire-type-dark path {
  fill: #ee8130;
  filter: brightness(1.25);
}

.fairy-type-light {
  filter: drop-shadow(0 0 10px #1e201d);
}

.fairy-type-light path {
  fill: #ee90e6;
  filter: brightness(1.25);
}

.fairy-type-dark {
  filter: drop-shadow(0 0 8px #d685ad);
}

.fairy-type-dark path {
  fill: #ee90e6;
  filter: brightness(1.25);
}

.fighting-type-light {
  filter: drop-shadow(0 0 10px #1e201d);
}

.fighting-type-light path {
  fill: #d3425f;
  filter: brightness(1.25);
}

.fighting-type-dark {
  filter: drop-shadow(0 0 8px #c22e28);
}

.fighting-type-dark path {
  fill: #d3425f;
  filter: brightness(1.25);
}

.flying-type-light {
  filter: drop-shadow(0 0 10px #1e201d);
}

.flying-type-light path {
  fill: #a98ff3;
  filter: brightness(1.25);
}

.flying-type-dark {
  filter: drop-shadow(0 0 8px #a98ff3);
}

.flying-type-dark path {
  fill: #a98ff3;
  filter: brightness(1.25);
}

.ghost-type-light {
  filter: drop-shadow(0 0 10px #1e201d);
}

.ghost-type-light path {
  fill: #735797;
}

.ghost-type-dark {
  filter: drop-shadow(0 0 8px #735797);
}

.ghost-type-dark path {
  fill: #735797;
  filter: brightness(1.25);
}

.grass-type-light {
  filter: drop-shadow(0 0 10px #1e201d);
}

.grass-type-light path {
  fill: #7ac74c;
  filter: brightness(1.25);
}

.grass-type-dark {
  filter: drop-shadow(0 0 8px #7ac74c);
}

.grass-type-dark path {
  fill: #7ac74c;
  filter: brightness(1.25);
}

.ground-type-light {
  filter: drop-shadow(0 0 10px #1e201d);
}

.ground-type-light path {
  fill: #e2bf65;
  filter: brightness(1.25);
}

.ground-type-dark {
  filter: drop-shadow(0 0 8px #e2bf65);
}

.ground-type-dark path {
  fill: #e2bf65;
  filter: brightness(1.25);
}

.ice-type-light {
  filter: drop-shadow(0 0 10px #1e201d);
}

.ice-type-light path {
  fill: #96d9d6;
  filter: brightness(1.25);
}

.ice-type-dark {
  filter: drop-shadow(0 0 8px #96d9d6);
}

.ice-type-dark path {
  fill: #96d9d6;
  filter: brightness(1.25);
}

.normal-type-light {
  filter: drop-shadow(0 0 10px #1e201d);
}

.normal-type-light path {
  fill: #a0a29f;
  filter: brightness(1.25);
}

.normal-type-dark {
  filter: drop-shadow(0 0 8px #a8a77a);
}

.normal-type-dark path {
  fill: #a0a29f;
  filter: brightness(1.25);
}

.poison-type-light {
  filter: drop-shadow(0 0 10px #1e201d);
}

.poison-type-light path {
  fill: #b763cf;
  filter: brightness(1.25);
}

.poison-type-dark {
  filter: drop-shadow(0 0 8px #a33ea1);
}

.poison-type-dark path {
  fill: #b763cf;
  filter: brightness(1.25);
}

.psychic-type-light {
  filter: drop-shadow(0 0 10px #1e201d);
}

.psychic-type-light path {
  fill: #fa8581;
  filter: brightness(1.25);
}

.psychic-type-dark {
  filter: drop-shadow(0 0 8px #f95587);
}

.psychic-type-dark path {
  fill: #fa8581;
  filter: brightness(1.25);
}

.rock-type-light {
  filter: drop-shadow(0 0 10px #1e201d);
}

.rock-type-light path {
  fill: #b6a136;
  filter: brightness(1.25);
}

.rock-type-dark {
  filter: drop-shadow(0 0 8px #b6a136);
}

.rock-type-dark path {
  fill: #b6a136;
  filter: brightness(1.25);
}

.steel-type-light {
  filter: drop-shadow(0 0 10px #1e201d);
}

.steel-type-light path {
  fill: #b7b7ce;
  filter: brightness(1.25);
}

.steel-type-dark {
  filter: drop-shadow(0 0 8px #b7b7ce);
}

.steel-type-dark path {
  fill: #b7b7ce;
  filter: brightness(1.25);
}

.water-type-light {
  filter: drop-shadow(0 0 10px #1e201d);
}

.water-type-light path {
  fill: #6390f0;
  filter: brightness(1.25);
}

.water-type-dark {
  filter: drop-shadow(0 0 8px #6390f0);
}

.water-type-dark path {
  fill: #6390f0;
  filter: brightness(1.25);
}

/* Sort options */

.sortoptions-container-small {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 10px;
  width: 100%;
  gap: 10px 0;
}

.sortoptions-container-med-large {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px;
  width: 100%;
  gap: 0 10px;
}

.option-sort-dropdown-container {
  position: relative;
  width: 175px;
}

.option-sort-dropdown-item {
  display: flex;
  flex-direction: column;
  gap: 0 10px;
  text-align: center;
  justify-content: center;
}

.option-sort-dropdown-button {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  padding: 0.5rem;
  border-radius: 8px;
}

.option-sort-reset-button {
  align-self: flex-end;
}

.option-sort-dropdown-results {
  display: none;
  position: absolute;
  overflow: hidden;
  overflow-y: auto;
  height: auto;
  max-height: 250px;
  width: 100%;
  text-align: center;
  border-radius: 5px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  padding: 6px 0;
  z-index: 1;
}

.option-sort-dropdown-results-active {
  display: block;
}

.option-sort-dropdown-result-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  width: 100%;
  text-decoration: none;
}

.sortoptions-item {
  display: flex;
  flex-direction: column;
  overflow-y: visible;
  width: auto;
}

.sortoption-text {
  padding: 0.5rem;
  text-align: center;
  font-size: 1rem;
}

.sortoptions-dropdown {
  place-self: center;
  width: 150px;
  height: 25px;
  border-radius: 5px;
  text-align: center;
  border: none;
  outline: 1px solid #1e201d;
  cursor: pointer;
}

/* Pokemon display table */

.pokemon-container-small {
  display: grid;
  gap: 20px 20px;
  padding: 1rem;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  grid-auto-rows: minmax(0, 1fr);
}

.pokemon-container-med {
  display: grid;
  gap: 20px 20px;
  padding: 1.5rem;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  grid-auto-rows: minmax(0, 1fr);
}

.pokemon-container-large {
  display: grid;
  gap: 20px 20px;
  padding: 2rem;
  grid-template-columns: repeat(4, minmax(0, 1fr));
  grid-auto-rows: minmax(0, 1fr);
}

.pokemon-container-xlarge {
  display: grid;
  gap: 20px 20px;
  padding: 2rem;
  grid-template-columns: repeat(6, minmax(0, 1fr));
  grid-auto-rows: minmax(0, 1fr);
}

.pokemon-card {
  flex-wrap: nowrap;
  flex-direction: column;
  padding: 1rem;
  border-radius: 5px;
  text-decoration: none;
  outline: 1px solid #1e201d;
  min-height: 10rem;
}

.pokemon-card:hover {
  box-shadow: 0 8px 16px 0 #201d1f;
}

.pokemon-card-title {
  padding: 0 0 1rem 0;
  font-size: 1rem;
}

.pokemon-image {
  padding: 0.5rem;
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.pokemon-load-image {
  padding: 2.5rem;
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.pokemon-card-number {
  align-self: flex-end;
  padding: 1rem 0 0 0;
  font-size: 0.75rem;
}

/* Footer */

.footer-container {
  display: grid;
  gap: 10px 10px;
  padding: 10px;
  align-items: center;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto;
  grid-template-areas:
    "github developed api"
    "trademark trademark trademark";
  font-size: 1rem;
}

.footer-small {
  margin: 0 -2%;
  padding: 10px 2%;
  width: calc(100% + 4%);
  overflow-x: hidden;
}

.footer-med {
  margin: 0 -5%;
  padding: 10px 5%;
  width: calc(100% + 10%);
  overflow-x: hidden;
}

.footer-large {
  margin: 0 -10%;
  padding: 10px 10%;
  width: calc(100% + 25%);
  overflow-x: hidden;
}

.footer-item-1 {
  width: 100%;
  grid-area: github;
}

.github-logo {
  font-size: 1.5rem;
}

.footer-item-2 {
  width: 100%;
  grid-area: developed;
  text-align: center;
}

.footer-item-3 {
  width: 100%;
  text-align: end;
  grid-area: api;
}

.api-logo {
  height: 1.5rem;
  padding: 0 8px;
  box-sizing: border-box;
  margin-bottom: 5px;
}

.footer-item-4 {
  width: 100%;
  text-align: center;
  grid-area: trademark;
}

/* Type page layout */

.typeview-container {
  min-height: 100vh;
  min-width: 100vw;
  display: grid;
  place-items: center;
  grid-template-rows: auto auto 1fr auto;
  gap: 20px 0px;
}

.typeview-small {
  padding: 0 2%;
}

.typeview-med {
  padding: 0 5%;
}

.typeview-large {
  padding: 0 10%;
}

/* Secondary page title */

.secondary-header-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 0 0 2rem 0;
}

.secondary-header-container-small {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 0 0 1.5rem 0;
}

.secondary-header {
  text-align: center;
}

.secondary-header-small {
  margin: 1rem 0;
  font-size: 2rem;
}

.secondary-header-med {
  margin: 1rem 0;
  font-size: 2.5rem;
}

.secondary-header-large {
  margin: 1.5rem 0;
  font-size: 3rem;
}

.secondary-header-x-large {
  margin: 1.5rem 0;
  font-size: 4rem;
}

.secondary-searchbar-container {
  justify-self: start;
}

/* Secondary-page Title and container */

.secondary-page-header-small {
  padding: 3rem 1rem 0 1rem;
  font-size: 1.5rem;
  place-self: start;
}

.secondary-page-header-med {
  padding: 3rem 1rem 0 1rem;
  font-size: 2rem;
  place-self: start;
}

.secondary-page-header-large {
  padding: 0 1rem;
  font-size: 2.5rem;
  place-self: start;
}

.secondary-page-header-x-large {
  padding: 0 1rem;
  font-size: 3rem;
  place-self: start;
}

.tirtiary-page-header-small {
  padding: 3rem 1rem 0 1rem;
  font-size: 1rem;
  font-weight: lighter;
  place-self: start;
}

.tirtiary-page-header-med {
  padding: 3rem 1rem 0 1rem;
  font-size: 1rem;
  font-weight: lighter;
  place-self: start;
}

.tirtiary-page-header-large {
  padding: 0 1rem;
  font-size: 1.5rem;
  font-weight: lighter;
  place-self: start;
}

.tirtiary-page-header-x-large {
  padding: 0 1rem;
  font-size: 2rem;
  font-weight: lighter;
  place-self: start;
}

/* Description font */

.pokemon-desc-small {
  padding: 3rem 1rem 0 1rem;
  font-size: 1rem;
  place-self: start;
}

.pokemon-desc-med {
  padding: 3rem 1rem 0 1rem;
  font-size: 1rem;
  place-self: start;
}

.pokemon-desc-large {
  padding: 0 1rem;
  font-size: 1.25rem;
  place-self: start;
}

.pokemon-desc-x-large {
  padding: 0 1rem;
  font-size: 1.5rem;
  place-self: start;
}

/* Type view information table */

.secondary-grid-row-small-med {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-between;
  height: auto;
  width: 100%;
  padding: 1rem 0;
}

.secondary-grid-row-large {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
  padding: 1rem 0;
}

/* .typeview-table-info */

.secondary-table-conainer-30 {
  display: flex;
  flex: 1 1 30%;
  flex-direction: column;
  padding: 0.5rem 1rem;
}

.table-info-section {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  padding: 0.5rem;
  min-height: 4rem;
}

.table-info-name {
  width: 50%;
  padding: 0 0.5rem;
}

.table-info-result {
  width: 50%;
  padding: 0 0.5rem;
}

.table-info-icon-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 10px;
  width: 50%;
  padding: 0 0.5rem;
}

.typeview-info-button-small {
  background-color: none;
  padding: 0.5rem;
}

.typeview-info-button-med-large {
  background-color: none;
  padding: 0.5rem;
}

.typeview-info-icon-small {
  height: 1.25rem;
  width: 1.25rem;
  object-fit: contain;
}

.typeview-info-icon-med {
  height: 1.25rem;
  width: 1.25rem;
  object-fit: contain;
}

.typeview-info-icon-large {
  height: 1.5rem;
  width: 1.5rem;
  object-fit: contain;
}

/* .typeview-table-damage-relations */

.secondary-table-conainer-50 {
  display: flex;
  flex: 2 1 50%;
  flex-direction: column;
  padding: 0.5rem 1rem;
}

/* .typeview-table-icon-container */

.secondary-table-conainer-20 {
  display: flex;
  flex: 1 1 20%;
  align-items: center;
  justify-content: center;
  padding: 0.5rem 1rem;
}

.typeview-table-icon-outline {
  height: 10rem;
  width: 10rem;
  padding: 1rem;
}

.typeview-table-icon {
  align-self: flex-end;
  flex: 1;
  height: 100%;
  width: 100%;
  object-fit: contain;
}

/* Tab options */

.tab-button {
  background: none;
  border: none;
}

.tab-button-small {
  margin: 0 15px;
}

.tab-button-med {
  margin: 0 50px;
}

.tab-button-large {
  margin: 0 75px;
}

/* Moves Tab */

.movestab-container {
  display: flex;
  flex-direction: column;
  padding: 20px 10px;
  width: 60%;
}

.movestab-section-head {
  display: flex;
  flex-direction: row;
  gap: 20px;
  padding: 1rem 2rem;
  width: 100%;
  align-items: center;
  justify-content: space-around;
}

.movestab-section {
  display: flex;
  flex-direction: row;
  gap: 20px;
  padding: 2rem;
  width: 100%;
  align-items: center;
  justify-content: space-around;
}

.movestab-item {
  width: 100%;
  text-align: center;
}

.movestab-icon {
  height: 2rem;
  width: 2rem;
  object-fit: contain;
}

/* Sprites Tab */

.spritestab-container {
  display: flex;
  flex-direction: column;
  gap: 25px 15px;
  padding: 20px 10px;
  width: 100%;
}

.spritestab-generation {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  gap: 10px 15px;
  padding: 20px 10px;
  border-radius: 10px;
}

.spritestab-icon-container {
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  gap: 20px;
  margin: 25px;
  justify-content: space-around;
}

.spritestab-item {
  flex: 1;
  flex-direction: column;
  padding: 1rem 0.5rem;
  gap: 1rem;
  place-items: center;
}

.spritestab-img {
  height: 2rem;
  margin: 0 7px 0 0;
}

/* Not found page layout */

.notfound-container {
  min-height: 100vh;
  min-width: 100vw;
  display: grid;
  justify-items: center;
  grid-template-rows: auto 1fr auto;
  gap: 20px 0px;
}

.notfound-small {
  padding: 0 2%;
}

.notfound-med {
  padding: 0 5%;
}

.notfound-large {
  padding: 0 10%;
}

.notfound-image-text {
  text-align: center;
  width: 100%;
}

.notfound-image {
  padding: 0.5rem;
  margin: 0 auto;
  width: 250px;
  height: 250px;
  object-fit: contain;
}

/* Pokémon page layout */

.pokemonview-container {
  min-height: 100vh;
  min-width: 100vw;
  display: grid;
  place-items: center;
  grid-template-rows: auto;
  gap: 20px 0px;
}

.pokemonview-small {
  padding: 0 2%;
}

.pokemonview-med {
  padding: 0 5%;
}

.pokemonview-large {
  padding: 0 10%;
}

.types-box {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
  width: 100%;
  padding: 0.5rem 1rem;
}

.description-box-small-med {
  place-self: start;
  padding: 0.5rem 1rem;
}

.description-box-large {
  place-self: start;
  width: 100%;
  padding: 0.5rem 1rem;
}

.pokeview-image-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.pokeview-image {
  height: auto;
  width: 100%;
  object-fit: contain;
}

.pokeview-image-toggle {
  display: flex;
  justify-content: center;
  height: auto;
  width: 100%;
}

.pokeview-image-toggle-normal {
  display: flex;
  align-items: center;
  border-radius: 8px 0 0 8px;
  width: 5rem;
  padding: 0.75rem;
  justify-content: center;
}

.pokeview-image-toggle-shiny {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0 8px 8px 0;
  padding: 0.75rem;
}

.pokeview-image-normal-only {
  display: flex;
  align-items: center;
  border-radius: 8px;
  width: 5rem;
  padding: 0.75rem;
  justify-content: center;
}

/* Dynamic Section Buttons */

.dyn-section-button-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.dyn-section-link {
  width: max-content;
}

.dyn-section-button {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  gap: 10px;
  max-width: 200px;
  text-decoration: none;
  border-radius: 8px;
}

.dyn-section-text {
  width: 100%;
  text-align: center;
}

.dyn-section-button-img-container {
  width: 2rem;
  height: 2rem;
  overflow: hidden;
  position: relative;
}

.dyn-section-button-img {
  width: 250%;
  height: 250%;
  object-fit: cover;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.dyn-section-button-full-img {
  width: 200%;
  height: 200%;
  object-fit: cover;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* Dynamic Section Dropdown */

.dyn-section-dropdown-container {
  position: relative;
  width: 100%;
}

.dyn-section-dropdown-button {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 2.5rem;
  width: 100%;
  padding: 0.5rem;
  border-radius: 8px;
}

.dyn-section-dropdown-text {
  flex-grow: 1;
  text-align: center;
}

.dyn-section-dropdown-results {
  display: none;
  position: absolute;
  overflow: hidden;
  overflow-y: auto;
  height: auto;
  max-height: 250px;
  width: 100%;
  text-align: center;
  border-radius: 5px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  padding: 6px 0;
  z-index: 1;
}

.dyn-section-dropdown-results-active {
  display: block;
}

.dyn-section-dropdown-items {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  width: 100%;
  text-decoration: none;
}

/* Stats table */

.secondary-table-conainer-100 {
  display: flex;
  flex: 2 1 100%;
  width: 100%;
  flex-direction: column;
  padding: 1rem 0;
  overflow: auto;
}

.stats-table-section {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0.5rem;
  min-height: 2rem;
  gap: 10px;
}

.stats-table-name {
  width: 20%;
  padding: 0 0.5rem;
}

.stats-table-number {
  display: flex;
  justify-content: center;
  width: 10%;
  padding: 0 0.5rem;
}

.stats-table-progress-bar {
  position: relative;
  width: 50%;
  height: 1rem;
  border-radius: 8px;
}

.stats-progress-base {
  position: absolute;
  height: 100%;
  border-radius: 8px;
  top: 0;
  left: 0;
}

.stats-progress-example-container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
}

.stats-progress-example {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  align-content: center;
  text-align: center;
  width: fit-content;
  padding: 0 0.5rem;
  border-radius: 15px;
}

.stats-progress-dark-min {
  background-color: #757575;
}

.stats-progress-dark-max {
  background-color: #fff9fc;
}

.stats-progress-light-min {
  background-color: #c2c0bf;
}

.stats-progress-light-max {
  background-color: #dad8d7;
}

/* Evolution Chain Large */

.evolution-chain-container-large {
  display: flex;
  flex-direction: row;
  padding: 1rem 0;
  height: 100%;
  overflow: hidden;
}

.evolution-chain-initial-large {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}

.evolution-chain-table-large {
  display: flex;
  flex-wrap: nowrap;
  overflow: auto;
  max-height: 80vh;
  width: 100%;
  gap: 20px;
}

.evolution-chain-path-large {
  display: flex;
  flex-direction: row;
  gap: 20px;
  width: 100%;
  height: 100%;
}

.evolution-chain-path-large::-webkit-scrollbar {
  width: 0.25rem;
}

.evolution-chain-path-large::-webkit-scrollbar-thumb {
  background-color: #757575;
  border-radius: 10px;
}

.evolution-chain-path-section-large {
  display: flex;
  flex-direction: row;
  align-items: center;
  text-align: center;
  padding: 1rem;
  gap: 1rem;
  height: 100%;
  width: 100%;
}

.evolution-chain-path-fork-large {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
}

.evolution-chain-card-large {
  width: 12rem;
  margin: 1rem 0 0 0;
  flex-shrink: 0;
}

.evolution-chain-section-details-large {
  width: 10rem;
}

/* Evolution Chain Small */

.evolution-chain-container-small {
  display: flex;
  flex-direction: column;
  padding: 1rem 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.evolution-chain-initial-small {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}

.evolution-chain-table-small {
  display: flex;
  flex-wrap: nowrap;
  height: 100%;
  width: 100%;
  gap: 20px;
}

.evolution-chain-path-small {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
  height: 100%;
}

.evolution-chain-path-small::-webkit-scrollbar {
  width: 0.25rem;
}

.evolution-chain-path-small::-webkit-scrollbar-thumb {
  background-color: #757575;
  border-radius: 10px;
}

.evolution-chain-path-section-small {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: space-between;
  padding: 1rem;
  gap: 1rem;
  height: 100%;
  width: 100%;
}

.evolution-chain-path-fork-small {
  display: flex;
  flex-direction: row;
  overflow: auto;
  justify-content: flex-start;
  width: 100%;
  padding: 1rem;
}

.evolution-chain-card-small {
  width: 12rem;
  margin: 1rem 0 0 0;
  flex-shrink: 0;
}

.evolution-chain-section-details-small {
  width: 10rem;
}

/* Evolution Chain Shared */

.flex-centered {
  align-self: center;
  justify-self: center;
}

.evolution-chain-icon-row {
  display: flex;
  align-items: center;
  text-align: center;
  padding: 1rem;
  gap: 1rem;
}

.evolution-chain-icon-column {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 1rem;
  gap: 1rem;
}

.evoluion-chain-trigger-desc {
  padding: 0.5rem 0;
}

.evolution-chain-image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 0.5rem 0;
}

.evolution-chain-image {
  width: 2.5rem;
  font-size: 1.5rem;
  align-items: center;
}

.evolution-chain-image-upside-down {
  width: 2.5rem;
  font-size: 1.5rem;
  align-items: center;
  transform: rotate(180deg);
}

.evolution-chain-image-ball {
  width: 1.5rem;
  align-items: center;
}

/* Pokéview Sprites */

.sprites-table-label {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.sprites-table-game {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  padding: 20px 10px;
  border-radius: 10px;
}

.sprites-table-game-active {
  margin: 0 0 25px 0;
}

.sprites-table-game-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: calc(100% + 20px);
  margin: -20px -10px;
  padding: 10px 15px;
  cursor: pointer;
}

.sprites-table-game-title-single {
  border-radius: 10px;
}

.sprites-table-game-title-top {
  border-radius: 10px 10px 0 0;
}

.sprites-table-game-title-bottom {
  border-radius: 0 0 10px 10px;
}

.sprites-table-game-title-text {
  flex: 1;
  text-align: center;
}

.sprites-table-game-title-icon {
  margin-left: auto;
  padding: 0.5rem;
}

.sprites-table-gen-title {
  padding: 20px 0;
}

.sprites-table-img {
  width: 6rem;
  flex-grow: 1;
  margin: 0 7px 0 0;
  object-fit: contain;
}

/* Nav Buttons */

.nav-button-container {
  display: flex;
  gap: 10px;
}

.nav-button-container-small {
  flex-direction: column;
}

.nav-button {
  position: relative;
  display: flex;
  align-items: center;
  gap: 2.5rem;
  padding: 0 1rem;
}

.nav-button-detail {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.nav-button-prev {
  border-radius: 10px 0 0 10px;
}

.nav-button-prev-detail {
  clip-path: polygon(
    0% 62%,
    55% 62%,
    70% 0%,
    0% 0%,
    100% 0%,
    100% 100%,
    0% 100%
  );
  border-radius: 10px 0 0 10px;
}

.nav-button-next {
  border-radius: 0 10px 10px 0;
}

.nav-button-next-detail {
  clip-path: polygon(0% 0%, 30% 0%, 45% 62%, 100% 62%, 100% 100%, 0% 100%);
  border-radius: 0 10px 10px 0;
}

.nav-button-img {
  object-fit: contain;
  height: 6rem;
  z-index: 1;
}

.nav-button-icon-container {
  display: flex;
  flex-direction: column;
  z-index: 1;
}

.nav-button-icon {
  font-size: 3rem;
}

/* Scroll to Top Icon */

.scroll-top-icon {
  display: none;
  position: fixed;
  bottom: 2rem;
  right: 2rem;
  font-size: 1.5rem;
  cursor: pointer;
}

.scroll-top-icon-active {
  display: block;
}

/* Expand and Collapse Button */

.expand-collapse-conatainer {
  position: relative;
  height: 2rem;
  width: 2rem;
  font-size: 1rem;
  border-radius: 25px;
  cursor: pointer;
}

.expand-collapse-icon-conatainer {
  position: relative;
}

.expand-collapse-icon {
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
}

.expand-collapse-icon-up {
  top: 0.1rem;
}

.expand-collapse-icon-down {
  bottom: 0.1rem;
}

.expand-collapse-dropdown {
  display: none;
  position: absolute;
  top: 100%;
  right: 0;
  border-radius: 5px;
  padding: 6px 0;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.expand-collapse-dropdown-active {
  display: block;
}

.expand-collapse-dropdown-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  padding: 4px 8px;
}

.expand-collapse-dropdown-item:hover {
  background-image: linear-gradient(rgb(0 0 0/40%) 0 0);
}

.expand-collapse-dropdown-text {
  width: 6rem;
}
